.circle{
width:44px;
height:44px;
flex-grow:0;
margin:06px12px;
border-radius:100%;
padding:12px17px11px;
background-color:var(--white);
}
.borderCircle{
border:solid1.5pxvar(--black);
}
.marginFieldNew{
margin-bottom:2.5rem;
}
.scrollNew{height:calc(100vh-24rem);overflow-y:scroll;}