<div class="componentBody">
    <div class="d-flex justify-content-between align-items-center">
        <p class="componentHeader f600 mb-0">Consignment - {{this.pageToken.pageflow}}</p>
    </div>
    <div class="mt-4 mx-auto">
        <form [formGroup]="form">
            <p-tabView>
                <p-tabPanel header="Header I">
                    <div class="row scrollNew22">
                        <div class="col-3 marginFieldNew borderRadius12">
                            <p class="formControlLabel f600 textBlack mb-0">Language</p>
                            <p-dropdown placeholder="Select" formControlName="languageId" appendTo="body"
                                [style]="{'width': '100%'}" [options]="languageIdList" [panelStyle]="{'width':'100%'}" />
                            <mat-error *ngIf="errorHandling('languageId')"
                                class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                        </div>

                        <div class="col-3 marginFieldNew borderRadius12">
                            <p class="formControlLabel f600 textBlack mb-0">Company</p>
                            <p-dropdown placeholder="Select" [options]="companyIdList" formControlName="companyId" appendTo="body"
                                [style]="{'width': '100%'}" [panelStyle]="{'width':'100%'}" />
                            <mat-error *ngIf="errorHandling('companyId')"
                                class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                        </div>
                        
                        <div class="col-3 marginFieldNew borderRadius12" id="priority">
                            <p class="formControlLabel f600 textBlack mb-0">Priority</p>
                            <input maxlength="50" formControlName="priority"
                                [ngClass]="form.get('priority')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                class=" w-100" pInputText placeholder="Enter" />
                            <mat-error *ngIf="errorHandling('priority')"
                                class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                        </div>

                        <div class="col-3 marginFieldNew borderRadius12" id="partnerType">
                            <p class="formControlLabel f600 textBlack mb-0">Partner Type</p>
                            <input maxlength="50" formControlName="partnerType"
                                [ngClass]="form.get('partnerType')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                class=" w-100" pInputText placeholder="Enter" />
                            <mat-error *ngIf="errorHandling('partnerType')"
                                class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                        </div>

                        <div class="col-3 marginFieldNew borderRadius12" id="partnerId">
                            <p class="formControlLabel f600 textBlack mb-0">Partner</p>
                            <input maxlength="50" formControlName="partnerId"
                                [ngClass]="form.get('partnerId')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                class=" w-100" pInputText placeholder="Enter" />
                            <mat-error *ngIf="errorHandling('partnerId')"
                                class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                        </div>

                        <div class="col-3 marginFieldNew borderRadius12" id="partnerName">
                            <p class="formControlLabel f600 textBlack mb-0">Partner Name</p>
                            <input maxlength="50" formControlName="partnerName"
                                [ngClass]="form.get('partnerName')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                class=" w-100" pInputText placeholder="Enter" />
                            <mat-error *ngIf="errorHandling('partnerName')"
                                class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                        </div>

                        <div class="col-3 marginFieldNew borderRadius12" id="statusId">
                            <p class="formControlLabel f600 textBlack mb-0">Status</p>
                            <input maxlength="50" formControlName="statusId"
                                [ngClass]="form.get('statusId')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                class=" w-100" pInputText placeholder="Enter" />
                            <mat-error *ngIf="errorHandling('statusId')"
                                class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                        </div>

                        <div class="col-3 marginFieldNew borderRadius12" id="paymentType">
                            <p class="formControlLabel f600 textBlack mb-0">Payment Type</p>
                            <input maxlength="50" formControlName="paymentType"
                                [ngClass]="form.get('paymentType')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                class=" w-100" pInputText placeholder="Enter" />
                            <mat-error *ngIf="errorHandling('paymentType')"
                                class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                        </div>

                        <div class="col-3 marginFieldNew borderRadius12" id="productId">
                            <p class="formControlLabel f600 textBlack mb-0">Product</p>
                            <input maxlength="50" formControlName="productId"
                                [ngClass]="form.get('productId')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                class=" w-100" pInputText placeholder="Enter" />
                            <mat-error *ngIf="errorHandling('productId')"
                                class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                        </div>

                        <div class="col-3 marginFieldNew borderRadius12" id="productName">
                            <p class="formControlLabel f600 textBlack mb-0">Product Name </p>
                            <input maxlength="50" formControlName="productName"
                                [ngClass]="form.get('productName')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                class=" w-100" pInputText placeholder="Enter" />
                            <mat-error *ngIf="errorHandling('productName')"
                                class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                        </div>

                        <div class="col-3 marginFieldNew borderRadius12" id="subProductId">
                            <p class="formControlLabel f600 textBlack mb-0">Sub Product</p>
                            <input maxlength="50" formControlName="subProductId"
                                [ngClass]="form.get('subProductId')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                class=" w-100" pInputText placeholder="Enter" />
                            <mat-error *ngIf="errorHandling('subProductId')"
                                class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                        </div>

                        <div class="col-3 marginFieldNew borderRadius12" id="subProductName">
                            <p class="formControlLabel f600 textBlack mb-0">Sub Product Name </p>
                            <input maxlength="50" formControlName="subProductName"
                                [ngClass]="form.get('subProductName')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                class=" w-100" pInputText placeholder="Enter" />
                            <mat-error *ngIf="errorHandling('subProductName')"
                                class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                        </div>

                        <div class="col-3 marginFieldNew borderRadius12" id="serviceTypeId">
                            <p class="formControlLabel f600 textBlack mb-0">Service Type </p>
                            <input maxlength="50" formControlName="serviceTypeId"
                                [ngClass]="form.get('serviceTypeId')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                class=" w-100" pInputText placeholder="Enter" />
                            <mat-error *ngIf="errorHandling('serviceTypeId')"
                                class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                        </div>

                        
                        <div class="col-3 marginFieldNew borderRadius12" id="serviceTypeText">
                            <p class="formControlLabel f600 textBlack mb-0">Service Type Name</p>
                            <input maxlength="50" formControlName="serviceTypeText"
                                [ngClass]="form.get('serviceTypeText')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                class=" w-100" pInputText placeholder="Enter" />
                            <mat-error *ngIf="errorHandling('serviceTypeText')"
                                class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                        </div>

                        <div class="col-3 marginFieldNew borderRadius12" id="manufacturer">
                            <p class="formControlLabel f600 textBlack mb-0">Manufacturer</p>
                            <input maxlength="50" formControlName="manufacturer"
                                [ngClass]="form.get('manufacturer')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                class=" w-100" pInputText placeholder="Enter" />
                            <mat-error *ngIf="errorHandling('manufacturer')"
                                class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                        </div>

                        <div class="col-3 marginFieldNew borderRadius12" id="partnerMasterAirwayBill">
                            <p class="formControlLabel f600 textBlack mb-0">MAWB</p>
                            <input maxlength="50" formControlName="partnerMasterAirwayBill"
                                [ngClass]="form.get('partnerMasterAirwayBill')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                class=" w-100" pInputText placeholder="Enter" />
                            <mat-error *ngIf="errorHandling('partnerMasterAirwayBill')"
                                class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                        </div>

                        <div class="col-3 marginFieldNew borderRadius12" id="noOfPackageMawb">
                            <p class="formControlLabel f600 textBlack mb-0">No of Packages MAWB</p>
                            <input maxlength="50" formControlName="c"
                                [ngClass]="form.get('noOfPackageMawb')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                class=" w-100" pInputText placeholder="Enter" />
                            <mat-error *ngIf="errorHandling('noOfPackageMawb')"
                                class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                        </div>

                        <div class="col-3 marginFieldNew borderRadius12" id="partnerHouseAirwayBill">
                            <p class="formControlLabel f600 textBlack mb-0">HAWB</p>
                            <input maxlength="50" formControlName="partnerHouseAirwayBill"
                                [ngClass]="form.get('partnerHouseAirwayBill')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                class=" w-100" pInputText placeholder="Enter" />
                            <mat-error *ngIf="errorHandling('partnerHouseAirwayBill')"
                                class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                        </div>

                        <div class="col-3 marginFieldNew borderRadius12" id="noOfPackageHawb">
                            <p class="formControlLabel f600 textBlack mb-0">No of Packages  HAWB</p>
                            <input maxlength="50" formControlName="noOfPackageHawb"
                                [ngClass]="form.get('noOfPackageHawb')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                class=" w-100" pInputText placeholder="Enter" />
                            <mat-error *ngIf="errorHandling('noOfPackageHawb')"
                                class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                        </div>

                        <div class="col-3 marginFieldNew borderRadius12" id="countryOfOrigin">
                            <p class="formControlLabel f600 textBlack mb-0">Country of Origin</p>
                            <input maxlength="50" formControlName="countryOfOrigin"
                                [ngClass]="form.get('countryOfOrigin')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                class=" w-100" pInputText placeholder="Enter" />
                            <mat-error *ngIf="errorHandling('countryOfOrigin')"
                                class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                        </div>

                        <div class="col-3 marginFieldNew borderRadius12" id="consignmentType">
                            <p class="formControlLabel f600 textBlack mb-0">Consignment Type</p>
                            <input maxlength="50" formControlName="consignmentType"
                                [ngClass]="form.get('consignmentType')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                class=" w-100" pInputText placeholder="Enter" />
                            <mat-error *ngIf="errorHandling('consignmentType')"
                                class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                        </div>

                        <div class="col-3 marginFieldNew borderRadius12" id="customerCode">
                            <p class="formControlLabel f600 textBlack mb-0">Customer Code</p>
                            <input maxlength="50" formControlName="customerCode"
                                [ngClass]="form.get('customerCode')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                class=" w-100" pInputText placeholder="Enter" />
                            <mat-error *ngIf="errorHandling('customerCode')"
                                class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                        </div>

                        <div class="col-3 marginFieldNew borderRadius12" id="customerReferenceNumber">
                            <p class="formControlLabel f600 textBlack mb-0">Customer Ref No</p>
                            <input maxlength="50" formControlName="customerReferenceNumber"
                                [ngClass]="form.get('customerReferenceNumber')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                class=" w-100" pInputText placeholder="Enter" />
                            <mat-error *ngIf="errorHandling('customerReferenceNumber')"
                                class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                        </div>

                        <div class="col-3 marginFieldNew borderRadius12" id="actionType">
                            <p class="formControlLabel f600 textBlack mb-0">Action Type</p>
                            <input maxlength="50" formControlName="actionType"
                                [ngClass]="form.get('actionType')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                class=" w-100" pInputText placeholder="Enter" />
                            <mat-error *ngIf="errorHandling('actionType')"
                                class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                        </div>
                        
                        <div class="col-3 marginFieldNew borderRadius12" id="movementType">
                            <p class="formControlLabel f600 textBlack mb-0">Movement Type</p>
                            <input maxlength="50" formControlName="movementType"
                                [ngClass]="form.get('movementType')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                class=" w-100" pInputText placeholder="Enter" />
                            <mat-error *ngIf="errorHandling('movementType')"
                                class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                        </div>

                        <div class="col-3 marginFieldNew borderRadius12" id="forwardReferenceNumber">
                            <p class="formControlLabel f600 textBlack mb-0">Forward Ref No</p>
                            <input maxlength="50" formControlName="forwardReferenceNumber"
                                [ngClass]="form.get('forwardReferenceNumber')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                class=" w-100" pInputText placeholder="Enter" />
                            <mat-error *ngIf="errorHandling('forwardReferenceNumber')"
                                class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                        </div>  

                        <div class="col-3 marginFieldNew borderRadius12" id="workerCode">
                            <p class="formControlLabel f600 textBlack mb-0">worker <Code></Code></p>
                            <input maxlength="50" formControlName="workerCode"
                                [ngClass]="form.get('workerCode')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                class=" w-100" pInputText placeholder="Enter" />
                            <mat-error *ngIf="errorHandling('workerCode')"
                                class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                        </div>

                        <div class="col-3 marginFieldNew borderRadius12" id="loadType">
                            <p class="formControlLabel f600 textBlack mb-0">Load Type <Code></Code></p>
                            <input maxlength="50" formControlName="loadType"
                                [ngClass]="form.get('loadType')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                class=" w-100" pInputText placeholder="Enter" />
                            <mat-error *ngIf="errorHandling('loadType')"
                                class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                        </div>

                        <div class="col-3 marginFieldNew borderRadius12" id="loadType">
                            <p class="formControlLabel f600 textBlack mb-0">Load Type <Code></Code></p>
                            <input maxlength="50" formControlName="loadType"
                                [ngClass]="form.get('loadType')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                class=" w-100" pInputText placeholder="Enter" />
                            <mat-error *ngIf="errorHandling('loadType')"
                                class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                        </div>

                        <div class="col-3 marginFieldNew borderRadius12" id="courierPartner">
                            <p class="formControlLabel f600 textBlack mb-0">Courier Partner <Code></Code></p>
                            <input maxlength="50" formControlName="courierPartner"
                                [ngClass]="form.get('courierPartner')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                class=" w-100" pInputText placeholder="Enter" />
                            <mat-error *ngIf="errorHandling('courierPartner')"
                                class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                        </div>

                        <div class="col-3 marginFieldNew borderRadius12" id="courierAccount">
                            <p class="formControlLabel f600 textBlack mb-0">Courier Account <Code></Code></p>
                            <input maxlength="50" formControlName="courierAccount"
                                [ngClass]="form.get('courierAccount')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                class=" w-100" pInputText placeholder="Enter" />
                            <mat-error *ngIf="errorHandling('courierAccount')"
                                class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                        </div>

                        <div class="col-3 marginFieldNew borderRadius12" id="courierPartnerReferenceNumber">
                            <p class="formControlLabel f600 textBlack mb-0">Courier Ref No <Code></Code></p>
                            <input maxlength="50" formControlName="courierPartnerReferenceNumber"
                                [ngClass]="form.get('courierPartnerReferenceNumber')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                class=" w-100" pInputText placeholder="Enter" />
                            <mat-error *ngIf="errorHandling('courierPartnerReferenceNumber')"
                                class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                        </div>

                    </div>
                    <div class="d-flex mt-1 justify-content-end" style="position: absolute; right: 5%; bottom: 5%;">
                        <button class="buttom1 textBlack mx-1" routerLink="/main/master/rate">Cancel</button>
                        <button class="buttom1 bgBlack text-white mx-1" (click)="save()">{{this.pageToken.pageflow !=
                            'New' ? 'Update': 'Save'}}</button>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Header II">
                    <div class="row scrollNew22">
                        <div class="col-3 marginFieldNew borderRadius12">
                            <p class="formControlLabel f600 textBlack mb-0">Language</p>
                            <p-dropdown formControlName="languageId" appendTo="body" [style]="{'width': '100%'}"
                                 [panelStyle]="{'width':'100%'}" />
                            <mat-error *ngIf="errorHandling('languageId')"
                                class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Header III">
                    <div class="row scrollNew22">
                        <div class="col-3 marginFieldNew borderRadius12">
                            <p class="formControlLabel f600 textBlack mb-0">Language</p>
                            <p-dropdown formControlName="languageId" appendTo="body" [style]="{'width': '100%'}"
                                 [panelStyle]="{'width':'100%'}" />
                            <mat-error *ngIf="errorHandling('languageId')"
                                class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                        </div>
                    </div>

                </p-tabPanel>
            </p-tabView>
        </form>
    </div>
</div>