<div class="componentBody">
    <div class="d-flex justify-content-between align-items-center">
        <p class="componentHeader f600 mb-0">Consignment - {{this.pageToken.pageflow}}</p>
    </div>
    <div class="mt-4 mx-auto">
        <form [formGroup]="form">
            <p-tabView>
                <p-tabPanel header="Header I">
                    <div class="row scrollNew22">
                        <div class="col-3 marginFieldNew borderRadius12">
                            <p class="formControlLabel f600 textBlack mb-0">Language</p>
                            <p-dropdown placeholder="Select" formControlName="languageId" appendTo="body"
                                [style]="{'width': '100%'}" [disabled]="true" [panelStyle]="{'width':'100%'}" />
                            <mat-error *ngIf="errorHandling('languageId')"
                                class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                        </div>
                    </div>
                    <div class="d-flex mt-1 justify-content-end" style="position: absolute; right: 5%; bottom: 5%;">
                        <button class="buttom1 textBlack mx-1" routerLink="/main/master/rate">Cancel</button>
                        <button class="buttom1 bgBlack text-white mx-1" (click)="save()">{{this.pageToken.pageflow !=
                            'New' ? 'Update': 'Save'}}</button>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Header II">
                    <div class="row scrollNew22">
                        <div class="col-3 marginFieldNew borderRadius12">
                            <p class="formControlLabel f600 textBlack mb-0">Language</p>
                            <p-dropdown formControlName="languageId" appendTo="body" [style]="{'width': '100%'}"
                                [disabled]="true" [panelStyle]="{'width':'100%'}" />
                            <mat-error *ngIf="errorHandling('languageId')"
                                class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Header III">
                    <div class="row scrollNew22">
                        <div class="col-3 marginFieldNew borderRadius12">
                            <p class="formControlLabel f600 textBlack mb-0">Language</p>
                            <p-dropdown formControlName="languageId" appendTo="body" [style]="{'width': '100%'}"
                                [disabled]="true" [panelStyle]="{'width':'100%'}" />
                            <mat-error *ngIf="errorHandling('languageId')"
                                class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                        </div>
                    </div>

                </p-tabPanel>
            </p-tabView>
        </form>
    </div>
</div>