<div class="bgWhite text-black w-93 h-100 m-4 mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <p class="componentHeader f600 mb-0"> CCR - Edit</p>
    </div>
    <div class="mt-4">
        <form [formGroup]="form">
            <div class="d-flex-row">
                <div class="row scrollNew">
                    <div class="col-6 marginFieldNew borderRadius12">
                        <p class="formControlLabel f600 textBlack mb-0">HAWB</p>
                        <input maxlength="50"  formControlName="houseAirwayBill"
                            class="w-100" pInputText placeholder="Enter" />
                    </div>
                    <div class="col-6 marginFieldNew borderRadius12">
                        <p class="formControlLabel f600 textBlack mb-0">MWAB</p>
                        <input maxlength="50" pInputText formControlName="masterAirwayBill"
                            class="w-100" pInputText placeholder="Enter" />
                    </div>
                    <div class="col-6 marginFieldNew borderRadius12">
                        <p class="formControlLabel f600 textBlack mb-0">Partner HWAB</p>
                        <input maxlength="50" pInputText formControlName="partnerHouseAirwayBill"
                            class="w-100" pInputText placeholder="Enter" />
                    </div>
                    <div class="col-6 marginFieldNew borderRadius12">
                        <p class="formControlLabel f600 textBlack mb-0">Partner MWAB</p>
                        <input maxlength="50"  pInputText formControlName="partnerMasterAirwayBill"
                            class="w-100" pInputText placeholder="Enter" />
                    </div>
                    <div class="col-6 marginFieldNew borderRadius12">
                        <p class="formControlLabel f600 textBlack mb-0">Customs CCR No</p>
                        <input maxlength="50"  pInputText formControlName="customsCcrNo"
                            class="w-100" pInputText placeholder="Enter" />
                    </div>
                    
                    <div class="col-6 marginFieldNew borderRadius12" >
                        <p class="formControlLabel f600 textBlack mb-0 required">Airport Origin Code</p>
                        <p-dropdown [options]="countryIdList" formControlName="airportOriginCode" appendTo="body"
                        [style]="{'width': '100%'}" [panelStyle]="{'width':'100%'}" placeholder="Select" />
                        
                    </div>

                   
                    <div class="col-6 marginFieldNew borderRadius12">
                        <p class="formControlLabel f600 textBlack mb-0">HS Code </p>
                        <input maxlength="50" pInputText formControlName="hsCode"
                            class="w-100" pInputText placeholder="Enter" />
                    </div>
                    <div class="col-6 marginFieldNew borderRadius12">
                        <p class="formControlLabel f600 textBlack mb-0">Consignee Name </p>
                        <input maxlength="50" pInputText formControlName="consigneeName"
                            class="w-100" pInputText placeholder="Enter" />
                    </div>
                    <div class="col-6 marginFieldNew borderRadius12">
                        <p class="formControlLabel f600 textBlack mb-0">Consignment Value </p>
                        <input maxlength="50" pInputText formControlName="consignmentValue"
                            class="w-100" pInputText placeholder="Enter" />
                    </div>
                    <div class="col-6 marginFieldNew borderRadius12" >
                        <p class="formControlLabel f600 textBlack mb-0 required">Consignment Currency</p>
                        <p-dropdown [options]="currencyIdList" placeholder="Select" filter="true" formControlName="consignmentCurrency" appendTo="body"
                          [style]="{'width': '100%'}" [panelStyle]="{'width':'100%'}" />
                    </div>
                    <div class="col-6 marginFieldNew borderRadius12" >
                        <p class="formControlLabel f600 textBlack mb-0 required">Customs KD</p>
                        <input maxlength="50" pInputText formControlName="customsKd" [ngClass]="form.get('customsKd')?.invalid && form.get('customsKd')?.dirty ? 'invalid' : ''" class="w-100" placeholder="Enter" />
                       
                    </div>
                    <div class="col-6 marginFieldNew borderRadius12">
                        <p class="formControlLabel f600 textBlack mb-0 required">IATA</p>
                        <p-dropdown [options]="iataList" placeholder="Select" filter="true" formControlName="iataKd" appendTo="body"
                          [style]="{'width': '100%'}" [panelStyle]="{'width':'100%'}" />
                        
                    </div>
                  
                </div>
                <div class="d-flex float-right py-2">
                    <button mat-dialog-close class="buttom1 textBlack mx-1"
                    >Cancel</button>
                    <button type="button" class="buttom1 bgBlack text-white mx-1" (click)="save()">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

