<!-- <div class="componentBody">
    <div class="d-flex justify-content-between align-items-center">
        <p class="componentHeader f600 mb-0">Pre Alert Manifest - {{this.pageToken.pageflow}}</p>
        <div class="d-flex justify-content-between align-items-center">
            <button type="button" class="invisible buttom1 bgBlack text-white ml-2">Transfer</button>
        </div>
    </div>
    <div class="w-75 mt-4 mx-auto">
        <form [formGroup]="form">
            <p-stepper [(activeStep)]="active">
                <p-stepperPanel>
                    <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
                        <div class="d-flex flex-column align-items-center" (click)="onClick.emit()">
                            <div class=" d-flex justify-content-center align-items-center">
                                <p *ngIf="active == 0;" class="circle borderCircle mb-0">1</p>
                                <img *ngIf="active != 0;" src="./assets/dashboard/tick.png" alt="" srcset="">
                            </div>
                            <div>
                                <p class="mb-0 mt-2 f600 textBlack">General</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="content" let-nextCallback="nextCallback">

                        <div class="row scrollNew">

                            <div class="col-6 marginFieldNew borderRadius12">
                                <p class="formControlLabel f600 textBlack mb-0">Company</p>
                                <p-dropdown [options]="companyIdList" formControlName="companyId" appendTo="body"
                                    [style]="{'width': '100%'}" [disabled]="true" [panelStyle]="{'width':'100%'}" />
                                <mat-error *ngIf="errorHandling('companyId')" class="text-danger"><small>{{
                                        getErrorMessage()}}</small></mat-error>
                            </div>
                            <div class="col-6 marginFieldNew borderRadius12">
                                <p class="formControlLabel f600 textBlack mb-0">Language</p>
                                <p-dropdown [options]="languageIdList" formControlName="languageId" appendTo="body"
                                    [style]="{'width': '100%'}" [disabled]="true" [panelStyle]="{'width':'100%'}" />
                                <mat-error *ngIf="errorHandling('languageId')" class="text-danger"><small>{{
                                        getErrorMessage()}}</small></mat-error>
                            </div>
                            <div class="col-6 marginFieldNew borderRadius12">
                                <p class="formControlLabel f600 textBlack mb-0 required">Partner Type</p>
                                <p-dropdown [options]="partnerType" placeholder="Select" filter="true" formControlName="partnerType"
                                    appendTo="body" [style]="{'width': '100%'}"  (onChange)="partnerTypeChanged()"
                                    [panelStyle]="{'width':'100%'}" />
                                <mat-error *ngIf="errorHandling('partnerType')" class="text-danger"><small>{{
                                        getErrorMessage()}}</small></mat-error>
                            </div>
                            <div class="col-6 marginFieldNew borderRadius12" id="partnerId">
                                <p class="formControlLabel f600 textBlack mb-0 required">Partner ID</p>
                                <p-dropdown [options]="customerIdList" placeholder="Select" filter="true"
                                    formControlName="partnerId" appendTo="body"
                                    [ngClass]="form.get('partnerId')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                    [style]="{'width': '100%'}" [panelStyle]="{'width':'100%'}" />
                                <mat-error *ngIf="errorHandling('partnerId')" class="text-danger"><small>{{
                                        getErrorMessage()}}</small></mat-error>
                            </div>
                            <div class="col-6 marginFieldNew borderRadius12"  id="bayanHv">
                                <p class="formControlLabel f600 textBlack mb-0">Bayan HV</p>
                                <input maxlength="100" pInputText pKeyFilter="num" formControlName="bayanHv" class=" w-100" pInputText
                                placeholder="Enter"
                                [ngClass]="form.get('bayanHv')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''" />
                                <mat-error *ngIf="errorHandling('bayanHv')" class="text-danger"><small>{{
                                        getErrorMessage()}}</small></mat-error>
                            </div>
                            <div class="col-6 marginFieldNew borderRadius12"  id="partnerMasterAirwayBill">
                                <p class="formControlLabel f600 textBlack mb-0">Partner MAWB</p>
                                <input maxlength="100" pInputText formControlName="partnerMasterAirwayBill" class=" w-100" pInputText
                                placeholder="Enter"
                                [ngClass]="form.get('partnerMasterAirwayBill')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''" />
                                <mat-error *ngIf="errorHandling('partnerMasterAirwayBill')" class="text-danger"><small>{{
                                        getErrorMessage()}}</small></mat-error>
                            </div>
                            <div class="col-6 marginFieldNew borderRadius12"  id="partnerHouseAirwayBill">
                                <p class="formControlLabel f600 textBlack mb-0">Partner HAWB</p>
                                <input maxlength="100" pInputText formControlName="partnerHouseAirwayBill" class=" w-100" pInputText
                                placeholder="Enter"
                                [ngClass]="form.get('partnerHouseAirwayBill')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''" />
                                <mat-error *ngIf="errorHandling('partnerHouseAirwayBill')" class="text-danger"><small>{{
                                        getErrorMessage()}}</small></mat-error>
                            </div>

                            <div class="col-6 marginFieldNew borderRadius12" id="shipperName">
                                <p class="formControlLabel f600 textBlack mb-0 ">Shipper Name</p>
                                <input maxlength="100" pInputText formControlName="shipperName" class=" w-100" pInputText
                                placeholder="Enter"
                                [ngClass]="form.get('shipperName')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''" />
                                <mat-error *ngIf="errorHandling('shipperName')" class="text-danger"><small>{{
                                        getErrorMessage()}}</small></mat-error>
                            </div>
 
                            <div class="col-6 marginFieldNew borderRadius12" id="consigneeName">
                                <p class="formControlLabel f600 textBlack mb-0 ">Consignee Name</p>
                                <input maxlength="100" pInputText formControlName="consigneeName" class=" w-100" pInputText
                                placeholder="Enter"
                                [ngClass]="form.get('consigneeName')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''" />
                                <mat-error *ngIf="errorHandling('consigneeName')" class="text-danger"><small>{{
                                        getErrorMessage()}}</small></mat-error>
                            </div>

                            
                            <div class="col-6 marginFieldNew borderRadius12" id="incoTerm">
                                <p class="formControlLabel f600 textBlack mb-0 ">Inco Terms</p>
                                <input maxlength="100" pInputText formControlName="incoTerm" class=" w-100" pInputText
                                placeholder="Enter"
                                [ngClass]="form.get('incoTerm')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''" />
                                <mat-error *ngIf="errorHandling('incoTerm')" class="text-danger"><small>{{
                                        getErrorMessage()}}</small></mat-error>
                            </div>
                            <div class="col-6 marginFieldNew borderRadius12" id="origin">
                                <p class="formControlLabel f600 textBlack mb-0 ">Origin</p>
                                <input maxlength="100" pInputText formControlName="origin" class=" w-100" pInputText
                                placeholder="Enter"
                                [ngClass]="form.get('origin')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''" />
                                <mat-error *ngIf="errorHandling('origin')" class="text-danger"><small>{{
                                        getErrorMessage()}}</small></mat-error>
                            </div>
                            <div class="col-6 marginFieldNew borderRadius12" id="description">
                                <p class="formControlLabel f600 textBlack mb-0 ">Description</p>
                                <input maxlength="100" pInputText formControlName="description" class=" w-100" pInputText
                                placeholder="Enter"
                                [ngClass]="form.get('description')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''" />
                                <mat-error *ngIf="errorHandling('description')" class="text-danger"><small>{{
                                        getErrorMessage()}}</small></mat-error>
                            </div>

                            <div class="col-6 marginFieldNew borderRadius12" id="hsCode">
                                <p class="formControlLabel f600 textBlack mb-0">HS Code</p>
                                <p-dropdown [options]="hsCodeList" placeholder="Select" filter="true"
                                    formControlName="hsCode" appendTo="body"
                                    [ngClass]="form.get('hsCode')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                    [style]="{'width': '100%'}" [panelStyle]="{'width':'100%'}" />
                                <mat-error *ngIf="errorHandling('hsCode')" class="text-danger"><small>{{
                                        getErrorMessage()}}</small></mat-error>
                            </div>
                            <div class="col-6 marginFieldNew borderRadius12" id="iata">
                                <p class="formControlLabel f600 textBlack mb-0">IATA</p>
                                <p-dropdown [options]="iataIdList" placeholder="Select" filter="true"
                                    formControlName="iata" appendTo="body"
                                    [ngClass]="form.get('iata')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                    [style]="{'width': '100%'}" [panelStyle]="{'width':'100%'}" />
                                <mat-error *ngIf="errorHandling('iata')" class="text-danger"><small>{{
                                        getErrorMessage()}}</small></mat-error>
                            </div>
                            <div class="col-6 marginFieldNew borderRadius12" id="flightNo">
                                <p class="formControlLabel f600 textBlack mb-0 ">Flight Number</p>
                                <input maxlength="100" pInputText formControlName="flightNo" class=" w-100" pInputText
                                placeholder="Enter"
                                [ngClass]="form.get('flightNo')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''" />
                                <mat-error *ngIf="errorHandling('flightNo')" class="text-danger"><small>{{
                                        getErrorMessage()}}</small></mat-error>
                            </div>
                            <div class="col-6 marginFieldNew borderRadius12" id="flightName">
                                <p class="formControlLabel f600 textBlack mb-0 ">Flight Name</p>
                                <input maxlength="100" pInputText formControlName="flightName" class=" w-100" pInputText
                                placeholder="Enter"
                                [ngClass]="form.get('flightName')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''" />
                                <mat-error *ngIf="errorHandling('flightName')" class="text-danger"><small>{{
                                        getErrorMessage()}}</small></mat-error>
                            </div>
                            <div class="col-6 marginFieldNew borderRadius12" id="originCode">
                                <p class="formControlLabel f600 textBlack mb-0">Origin Port</p>
                                <p-dropdown [options]="countryIdList" placeholder="Select" filter="true"
                                    formControlName="originCode" appendTo="body"
                                    [ngClass]="form.get('originCode')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                    [style]="{'width': '100%'}" [panelStyle]="{'width':'100%'}" />
                                <mat-error *ngIf="errorHandling('originCode')" class="text-danger"><small>{{
                                        getErrorMessage()}}</small></mat-error>
                            </div>
                            <div class="col-6 marginFieldNew borderRadius12" id="noOfPieces">
                                <p class="formControlLabel f600 textBlack mb-0 ">Number of pieces</p>
                                <input maxlength="100" pInputText formControlName="noOfPieces" class=" w-100" pInputText
                                placeholder="Enter"
                                [ngClass]="form.get('noOfPieces')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''" />
                                <mat-error *ngIf="errorHandling('noOfPieces')" class="text-danger"><small>{{
                                        getErrorMessage()}}</small></mat-error>
                            </div>
                            <div class="col-6 marginFieldNew borderRadius12" id="estimatedDepartureTimeFE">
                                <p class="formControlLabel f600 textBlack mb-0">Estimated Time Of Departure</p>
                                <p-calendar formControlName="estimatedDepartureTimeFE" appendTo="body"
                                [ngClass]="form.get('estimatedDepartureTimeFE')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                class=" w-100 small-calendar" placeholder="Filter by Date" [iconDisplay]="'input'"
                                [showIcon]="true" />

                                <mat-error *ngIf="errorHandling('estimatedDepartureTime')" class="text-danger"><small>{{
                                        getErrorMessage()}}</small></mat-error>
                            </div>

                            <div class="col-6 marginFieldNew borderRadius12" id="estimatedTimeOfArrivalFE">
                                <p class="formControlLabel f600 textBlack mb-0">Estimated Time Of Arrival</p>
                                <p-calendar formControlName="estimatedTimeOfArrivalFE" appendTo="body"
                                [ngClass]="form.get('estimatedTimeOfArrivalFE')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                class=" w-100 small-calendar" placeholder="Filter by Date" [iconDisplay]="'input'"
                                [showIcon]="true" />

                                <mat-error *ngIf="errorHandling('estimatedDepartureTime')" class="text-danger"><small>{{
                                        getErrorMessage()}}</small></mat-error>
                            </div>

                            <div class="col-6 marginFieldNew borderRadius12" id="totalWeight">
                                <p class="formControlLabel f600 textBlack mb-0 ">Total Weight</p>
                                <input maxlength="100" pInputText formControlName="totalWeight" class=" w-100" pInputText
                                placeholder="Enter"
                                [ngClass]="form.get('totalWeight')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''" />
                                <mat-error *ngIf="errorHandling('totalWeight')" class="text-danger"><small>{{
                                        getErrorMessage()}}</small></mat-error>
                            </div>

                            <div class="col-6 marginFieldNew borderRadius12" id="consignmentValue">
                                <p class="formControlLabel f600 textBlack mb-0 ">Total Value</p>
                                <input maxlength="100" pInputText formControlName="consignmentValue" class=" w-100" pInputText
                                placeholder="Enter"
                                [ngClass]="form.get('consignmentValue')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''" />
                                <mat-error *ngIf="errorHandling('consignmentValue')" class="text-danger"><small>{{
                                        getErrorMessage()}}</small></mat-error>
                            </div>
                            <div class="col-6 marginFieldNew borderRadius12" id="consignmentValueLocal">
                                <p class="formControlLabel f600 textBlack mb-0 ">ConsignmentValueLocal</p>
                                <input maxlength="100" pInputText formControlName="consignmentValueLocal" class=" w-100" pInputText
                                placeholder="Enter"
                                [ngClass]="form.get('consignmentValueLocal')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''" />
                                <mat-error *ngIf="errorHandling('consignmentValueLocal')" class="text-danger"><small>{{
                                        getErrorMessage()}}</small></mat-error>
                            </div>
                            
                            <div class="col-6 marginFieldNew borderRadius12" id="currency">
                                <p class="formControlLabel f600 textBlack mb-0 ">Currency</p>
                                <p-dropdown [options]="currencyIdList" placeholder="Select" filter="true"
                                formControlName="currency" appendTo="body"
                                [ngClass]="form.get('currency')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                [style]="{'width': '100%'}" [panelStyle]="{'width':'100%'}" />
                                <mat-error *ngIf="errorHandling('currency')" class="text-danger"><small>{{
                                        getErrorMessage()}}</small></mat-error>
                            </div>


                        </div>
                        <div class="d-flex mt-1 justify-content-end" style="position: absolute; right: 3.5%; bottom: 7%;">
                            <button class="buttom1 textBlack mx-1" routerLink="/main/airport/preAlertManifest">Cancel</button>
                            <button class="buttom1 bgBlack text-white mx-1" (click)="save()">{{this.pageToken.pageflow
                                != 'New' ? 'Update': 'Save'}}</button>
                        </div>
                    </ng-template>
                </p-stepperPanel>
                <p-stepperPanel *ngIf="this.pageToken.pageflow != 'New'">
                    <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
                        <div class="d-flex flex-column align-items-center" (click)="onClick.emit()">
                            <div class="d-flex justify-content-center align-items-center">
                                <p class="circle mb-0" [ngClass]="active == 2 ? 'borderCircle' : 'disabled text-muted'">
                                    2</p>
                            </div>
                            <div>
                                <p class="mb-0 mt-2 f600" [ngClass]="active == 2 ? 'textBlack f600' : 'text-muted'">
                                    Admin</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="content" let-prevCallback="prevCallback">
                        <div class="row">
                            <div class="col-6 marginFieldNew borderRadius12">
                                <p class="formControlLabel f600 textBlack mb-0">Created By</p>
                                <input type="text" formControlName="createdBy" class=" w-100" pInputText
                                    placeholder="Enter" />
                            </div>
                            <div class="col-6 marginFieldNew borderRadius12">
                                <p class="formControlLabel f600 textBlack mb-0">Created On</p>
                                <input type="text" formControlName="createdOn" class=" w-100" pInputText
                                    placeholder="Enter" />
                            </div>
                            <div class="col-6 marginFieldNew borderRadius12">
                                <p class="formControlLabel f600 textBlack mb-0">Updated By</p>
                                <input type="text" formControlName="updatedBy" class=" w-100" pInputText
                                    placeholder="Enter" />
                            </div>
                            <div class="col-6 marginFieldNew borderRadius12">
                                <p class="formControlLabel f600 textBlack mb-0">Updated On</p>
                                <input type="text" formControlName="updatedOn" class=" w-100" pInputText
                                    placeholder="Enter" />
                            </div>
                        </div>
                        <div class="d-flex mt-1 justify-content-end" style="position: absolute; right: 3.5%; bottom: 7%;">
                            <button class="buttom1 textBlack mx-1" (click)="prevCallback.emit()">Back</button>
                            <button class="buttom1 bgBlack text-white mx-1" (click)="save()">{{this.pageToken.pageflow
                                != 'New' ? 'Update': 'Save'}}</button>
                        </div>
                    </ng-template>
                </p-stepperPanel>
            </p-stepper>
        </form>
    </div>
</div>
 -->

 <div class="componentBody">
    <div class="d-flex justify-content-between align-items-center">
        <p class="componentHeader f600 mb-0">Pre Alert Manifest - {{this.pageToken.pageflow}}</p>
        <div class="d-flex justify-content-between align-items-center">
            <button type="button"   *ngIf="this.pageToken.pageflow=='Edit'"class="buttom1 bgBlack text-white ml-2" (click)="downloadExcel()" >Download</button>
        </div>
    </div>

    <div class="mx-auto mt-4">
        <form [formGroup]="form">
            <div class="d-flex-row">
                <div class="row ">
                    <div class="col-3 marginFieldNew borderRadius12">
                        <p class="formControlLabel f600 textBlack mb-0">Company</p>
                        <input maxlength="50" pInputText  formControlName="companyId"
                        class="w-100" pInputText placeholder="Enter" />
                    </div>
                    <div class="col-3 marginFieldNew borderRadius12">
                        <p class="formControlLabel f600 textBlack mb-0">Partner MAWB</p>
                        <input maxlength="50" pInputText  formControlName="partnerMasterAirwayBill"
                            class="w-100" pInputText placeholder="Enter" />
                    </div>
                </div>

                <div class="tableProperties">
                    <p-table #preAlertEditTag [columns]="cols" [value]="preAlertManifestTableArray"  class="custom-table" [scrollable]="true"
                        selectionMode="multiple" sortField="createdOn" [sortOrder]="-1" [(selection)]="selectedPreAlertManifest"
                        scrollHeight="calc(100vh - 25rem)" sortField="createdOn" [sortOrder]="-1" [tableStyle]="{'width': '250rem'}"
                        styleClass="p-datatable-sm">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th style="width: 5rem;" pFrozenColumn>
                                    <p-tableHeaderCheckbox class="pl-3"></p-tableHeaderCheckbox>
                                </th>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                    {{ col.header }} <p-sortIcon [field]="col.field" />
                                </th>
                                <th style="width: 5rem;" pFrozenColumn alignFrozen="right">
                                    Actions
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns" let-expanded="expanded">
                            <tr  [class.selectedRow]="selectedPreAlertManifest[0] === rowData">
                                <td style="width: 5rem; justify-content: center;" pFrozenColumn>
                                    <p-tableCheckbox class="pl-3" [value]="rowData" />
                                </td>
                                <td *ngFor="let col of columns">
                                    <ng-container *ngIf="col.format !== 'date'; else dateTemplate">
                                        {{ rowData[col.field] }}
                                    </ng-container>
                                    <ng-template #dateTemplate>
                                        {{ rowData.createdOn | date: 'dd-MM-yyyy HH:mm' }}
                                    </ng-template>
                                </td>
                                <td style="padding-left: 1.5rem !important;" pFrozenColumn alignFrozen="right">
                                    <img type="button" src="./assets/common/actions.png" (click)="op.toggle($event)"
                                        alt="" srcset="" style="height: 1.4rem;">
                                    <p-overlayPanel [style]="{ width: '180' }" #op>
                                        <div class="d-flex flex-column">
                                            <button style="width: 8rem;" mat-menu-item class="w-100"
                                            (click)="editItem('Edit',rowData); op.hide()"><img
                                                    src="./assets/common/edit.png"
                                                    style="padding-right: 10px;width: 2rem;" srcset="">Edit</button>
                                        </div>
                                    </p-overlayPanel>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td [attr.colspan]="4">
                                    <p class="my-2 w-100 pl-3">No records found</p>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="d-flex mt-1 justify-content-end" style="position: absolute; right: 3.5%; bottom: 7%;">
                <button class="buttom1 textBlack mx-1" routerLink="/main/airport/preAlertManifest">Cancel</button>
               <!-- <button class="buttom1 bgBlack text-white mx-1" (click)="save()">{{this.pageToken.pageflow
                    != 'New' ? 'Confirm': 'Save'}}</button>-->
            </div>
        </form>
    </div>
</div>

