<!-- <div class="componentBody">
    <div class="d-flex justify-content-between align-items-center">
        <p class="componentHeader f600 mb-0">Pre Alert Manifest - {{this.pageToken.pageflow}}</p>
        <div class="d-flex justify-content-between align-items-center">
            <button type="button" class="invisible buttom1 bgBlack text-white ml-2">Transfer</button>
        </div>
    </div>
    <div class="mx-auto mt-4">
        <div class="d-flex-row">
            <div class="scrollNew">
                <pre class="marginFieldNew borderRadius12">
                    {{ this.reorderedIndicator | json }}
                </pre>
            </div>
            <div class="d-flex float-right py-2" style="position: absolute; right: 3.5%; bottom: 7%;">
                <button mat-dialog-close class="buttom1 textBlack mx-1">Cancel</button>
            </div>
        </div>
    </div>
</div> -->

<div class="componentBody">
    <div class="d-flex justify-content-between align-items-center">
        <p class="componentHeader f600 mb-0">Pre Alert Manifest - {{this.pageToken.pageflow}}</p>
        <div class="d-flex justify-content-between align-items-center">
            <button type="button" class="invisible buttom1 bgBlack text-white ml-2">Transfer</button>
        </div>
    </div>
    <div class="mx-auto mt-4">
        <div class="d-flex-row">
            <!-- <div class="scrollNew">
                <pre class="marginFieldNew borderRadius12">
                    {{ this.reorderedIndicator | json }}
                </pre>
            </div> -->

            <div class="tableProperties">
                <p-table #preAlertManifestIndicatorTag [columns]="cols" [value]="preAlertManifestIndicatorTable" class="custom-table" [scrollable]="true"
                  selectionMode="single" scrollHeight="calc(100vh - 27.8rem)" [rows]="100"
                  [showCurrentPageReport]="true" sortField="createdOn" [sortOrder]="-1" [tableStyle]="{'width': '280rem'}"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" styleClass="p-datatable-sm">
                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th style="width: 5rem;">
                        <p-tableHeaderCheckbox class="pl-3" [disabled]="true"></p-tableHeaderCheckbox>
                      </th>
                      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{ col.header }} 
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [class.selectedRow]="selectedPreAlertManifestIndicator[0] === rowData">
                      <td style="width: 5rem; justify-content: center;">
                        <p-checkbox [(ngModel)]="selectedPreAlertManifestIndicator" class="pl-3"
                          [value]="rowData"></p-checkbox>
                      </td>
                      <td *ngFor="let col of columns">
                        <ng-container *ngIf="col.format !== 'date' ; else dateTemplate">
                          {{ rowData[col.field] }}
                        </ng-container>
                        <ng-container *ngIf="col.subChild === true">
                            {{ getNestedValue(rowData, col.field) }}
                          </ng-container>
                        <ng-template #dateTemplate>
                          {{ rowData[col.field] | date: 'dd-MM-yyyy HH:mm' }}
                        </ng-template>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td [attr.colspan]="4">
                        <p class="my-2 w-100 pl-3">No records found</p>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
              
            
            <div class="d-flex float-right py-2" style="position: absolute; right: 3.5%; bottom: 7%;">
                <button class="buttom1 textBlack mx-1" routerLink="/main/airport/preAlertManifest/" >Cancel</button>
            </div>
        </div>
    </div>
</div>

