<div class="componentBody">
  <div class="d-flex justify-content-between align-items-center">
    <p class="componentHeader f600 mb-0">Pre Alert Manifest - {{this.pageToken.pageflow}}</p>
    <div class="d-flex justify-content-between align-items-center">
      <button type="button" class="invisible buttom1 bgBlack text-white ml-2">Transfer</button>
    </div>
  </div>
  <div class="mx-auto mt-4">
    <div class="d-flex-row scrollNew">

      <!-- <div class="tableProperties">
                <p-table #preAlertManifestIndicatorTag [columns]="cols" [value]="preAlertManifestIndicatorTable" class="custom-table" [scrollable]="true"
                  selectionMode="single" scrollHeight="calc(100vh - 27.8rem)" [rows]="100"
                  [showCurrentPageReport]="true" sortField="createdOn" [sortOrder]="-1" [tableStyle]="{'width': '280rem'}"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" styleClass="p-datatable-sm">
                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th style="width: 5rem;">
                        <p-tableHeaderCheckbox class="pl-3" [disabled]="true"></p-tableHeaderCheckbox>
                      </th>
                      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{ col.header }} 
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [class.selectedRow]="selectedPreAlertManifestIndicator[0] === rowData">
                      <td style="width: 5rem; justify-content: center;">
                        <p-checkbox [(ngModel)]="selectedPreAlertManifestIndicator" class="pl-3"
                          [value]="rowData"></p-checkbox>
                      </td>
                      <td *ngFor="let col of columns">
                        <ng-container *ngIf="col.format !== 'date' ; else dateTemplate">
                          {{ rowData[col.field] }}
                        </ng-container>
                        <ng-container *ngIf="col.subChild === true">
                            {{ getNestedValue(rowData, col.field) }}
                          </ng-container>
                        <ng-template #dateTemplate>
                          {{ rowData[col.field] | date: 'dd-MM-yyyy HH:mm' }}
                        </ng-template>
                      </td>
                    </tr>
                  </ng-template> 
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td [attr.colspan]="4">
                        <p class="my-2 w-100 pl-3">No records found</p>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div> -->
      <p class="componentTableHeader f400 mb-0">Consignment Details</p>
      <table class="table">
        <thead class="table-style">
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Fields</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody class="table-style-body">
          <tr>
            <th style="font-weight: normal;" scope="row">1</th>
            <td>Consignment Currency</td>
            <td>
              <ng-container
                *ngIf="preAlertManifestIndicatorTable[0].consignmentCurrency !== null && preAlertManifestIndicatorTable[0].consignmentCurrency !== undefined; else nullOrUndefined">
                {{ preAlertManifestIndicatorTable[0].consignmentCurrency }}
              </ng-container>
              <ng-template #nullOrUndefined>
                <p class="null-value">Null</p>
              </ng-template>
            </td>
          </tr>
          <tr>
            <th style="font-weight: normal;" scope="row">2</th>
            <td>Consignment ID</td>
            <td>
              <ng-container
                *ngIf="preAlertManifestIndicatorTable[0].consignmentId !== null && preAlertManifestIndicatorTable[0].consignmentId !== undefined; else nullOrUndefined">
                {{ preAlertManifestIndicatorTable[0].consignmentId }}
              </ng-container>
              <ng-template #nullOrUndefined>
                <p class="null-value">Null</p>
              </ng-template>
            </td>
          </tr>
          <tr>
            <th style="font-weight: normal;" scope="row">3</th>
            <td>Country Of Origin</td>
            <td>
              <ng-container
                *ngIf="preAlertManifestIndicatorTable[0].countryOfOrigin !== null && preAlertManifestIndicatorTable[0].countryOfOrigin !== undefined; else nullOrUndefined">
                {{ preAlertManifestIndicatorTable[0].countryOfOrigin }}
              </ng-container>
              <ng-template #nullOrUndefined>
                <p class="null-value">Null</p>
              </ng-template>
            </td>
          </tr>
          <tr>
            <th style="font-weight: normal;" scope="row">4</th>
            <td>Created On</td>
            <td>
              <ng-container
                *ngIf="preAlertManifestIndicatorTable[0].createdOn !== null && preAlertManifestIndicatorTable[0].createdOn !== undefined; else nullOrUndefined">
                {{ preAlertManifestIndicatorTable[0].createdOn | date: 'dd-MM-yyyy HH:mm' }}
              </ng-container>
              <ng-template #nullOrUndefined>
                <p class="null-value">Null</p>
              </ng-template>
            </td>
          </tr>
          <tr>
            <th style="font-weight: normal;" scope="row">5</th>
            <td>Declared Value</td>
            <td>
              <ng-container
                *ngIf="preAlertManifestIndicatorTable[0].declaredValue !== null && preAlertManifestIndicatorTable[0].declaredValue !== undefined; else nullOrUndefined">
                {{ preAlertManifestIndicatorTable[0].declaredValue }}
              </ng-container>
              <ng-template #nullOrUndefined>
                <p class="null-value">Null</p>
              </ng-template>
            </td>
          </tr>
          <tr>
            <th style="font-weight: normal;" scope="row">6</th>
            <td>Gross Weight</td>
            <td>
              <ng-container
                *ngIf="preAlertManifestIndicatorTable[0].grossWeight !== null && preAlertManifestIndicatorTable[0].grossWeight !== undefined; else nullOrUndefined">
                {{ preAlertManifestIndicatorTable[0].grossWeight }}
              </ng-container>
              <ng-template #nullOrUndefined>
                <p class="null-value">Null</p>
              </ng-template>
            </td>
          </tr>
          <tr>
            <th style="font-weight: normal;" scope="row">7</th>
            <td>Inco Terms</td>
            <!-- <td>{{preAlertManifestIndicatorTable[0].incoTerms}}</td> -->
            <td>
              <ng-container
                *ngIf="preAlertManifestIndicatorTable[0].incoTerms !== null && preAlertManifestIndicatorTable[0].incoTerms !== undefined; else nullOrUndefined">
                {{ preAlertManifestIndicatorTable[0].incoTerms }}
              </ng-container>
              <ng-template #nullOrUndefined>
                <p class="null-value">Null</p>
              </ng-template>
            </td>
          </tr>
          <tr>
            <th style="font-weight: normal;" scope="row">8</th>
            <td>No Of Package Hawb</td>
            <!-- <td>{{preAlertManifestIndicatorTable[0].noOfPackageHawb}}</td> -->
            <td>
              <ng-container
                *ngIf="preAlertManifestIndicatorTable[0].noOfPackageHawb !== null && preAlertManifestIndicatorTable[0].noOfPackageHawb !== undefined; else nullOrUndefined">
                {{ preAlertManifestIndicatorTable[0].noOfPackageHawb }}
              </ng-container>
              <ng-template #nullOrUndefined>
                <p class="null-value">Null</p>
              </ng-template>
            </td>
          </tr>
          <tr>
            <th style="font-weight: normal;" scope="row">9</th>
            <td>No Of Piece Hawb</td>
            <!-- <td>{{preAlertManifestIndicatorTable[0].noOfPieceHawb}}</td> -->
            <td>
              <ng-container
                *ngIf="preAlertManifestIndicatorTable[0].noOfPieceHawb !== null && preAlertManifestIndicatorTable[0].noOfPieceHawb !== undefined; else nullOrUndefined">
                {{ preAlertManifestIndicatorTable[0].noOfPieceHawb }}
              </ng-container>
              <ng-template #nullOrUndefined>
                <p class="null-value">Null</p>
              </ng-template>
            </td>
          </tr>
          <tr>
            <th style="font-weight: normal;" scope="row">10</th>
            <td>Partner Hawb</td>
            <!-- <td>{{preAlertManifestIndicatorTable[0].partnerHouseAirwayBill}}</td> -->
            <td>
              <ng-container
                *ngIf="preAlertManifestIndicatorTable[0].partnerHouseAirwayBill !== null && preAlertManifestIndicatorTable[0].partnerHouseAirwayBill !== undefined; else nullOrUndefined">
                {{ preAlertManifestIndicatorTable[0].partnerHouseAirwayBill }}
              </ng-container>
              <ng-template #nullOrUndefined>
                <p class="null-value">Null</p>
              </ng-template>
            </td>
          </tr>
          <tr>
            <th style="font-weight: normal;" scope="row">11</th>
            <td>Payment Type</td>
            <!-- <td>{{preAlertManifestIndicatorTable[0].paymentType}}</td> -->
            <td>
              <ng-container
                *ngIf="preAlertManifestIndicatorTable[0].paymentType !== null && preAlertManifestIndicatorTable[0].paymentType !== undefined; else nullOrUndefined">
                {{ preAlertManifestIndicatorTable[0].paymentType }}
              </ng-container>
              <ng-template #nullOrUndefined>
                <p class="null-value">Null</p>
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>

      <p class="componentTableHeader f400 mb-0">Origin Details</p>
      <table class="table">
        <thead class="table-style">
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Fields</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody class="table-style-body">
          <tr>
            <th style="font-weight: normal;" scope="row">1</th>
            <td>Name</td>
            <!-- <td>{{preAlertManifestIndicatorTable[0].originDetails.name}}</td> -->
            <td>
              <ng-container
                *ngIf="preAlertManifestIndicatorTable[0].originDetails.name !== null && preAlertManifestIndicatorTable[0].originDetails.name !== undefined; else nullOrUndefined">
                {{ preAlertManifestIndicatorTable[0].originDetails.name }}
              </ng-container>
              <ng-template #nullOrUndefined>
                <p class="null-value">Null</p>
              </ng-template>
            </td>
          </tr>
          <tr>
            <th style="font-weight: normal;" scope="row">2</th>
            <td>Phone</td>
            <!-- <td>{{preAlertManifestIndicatorTable[0].originDetails.phone}}</td> -->
            <td>
              <ng-container
                *ngIf="preAlertManifestIndicatorTable[0].originDetails.phone !== null && preAlertManifestIndicatorTable[0].originDetails.phone !== undefined; else nullOrUndefined">
                {{ preAlertManifestIndicatorTable[0].originDetails.phone }}
              </ng-container>
              <ng-template #nullOrUndefined>
                <p class="null-value">Null</p>
              </ng-template>
            </td>
          </tr>
          <tr>
            <th style="font-weight: normal;" scope="row">3</th>
            <td>Address Line 1</td>
            <!-- <td>{{preAlertManifestIndicatorTable[0].originDetails.addressLine1}}</td> -->
            <td>
              <ng-container
                *ngIf="preAlertManifestIndicatorTable[0].originDetails.addressLine1 !== null && preAlertManifestIndicatorTable[0].originDetails.addressLine1 !== undefined; else nullOrUndefined">
                {{ preAlertManifestIndicatorTable[0].originDetails.addressLine1 }}
              </ng-container>
              <ng-template #nullOrUndefined>
                <p class="null-value">Null</p>
              </ng-template>
            </td>
          </tr>
          <tr>
            <th style="font-weight: normal;" scope="row">4</th>
            <td>Address Line 2</td>
            <!-- <td>{{preAlertManifestIndicatorTable[0].originDetails.addressLine2}}</td> -->
            <td>
              <ng-container
                *ngIf="preAlertManifestIndicatorTable[0].originDetails.addressLine2 !== null && preAlertManifestIndicatorTable[0].originDetails.addressLine2 !== undefined; else nullOrUndefined">
                {{ preAlertManifestIndicatorTable[0].originDetails.addressLine2 }}
              </ng-container>
              <ng-template #nullOrUndefined>
                <p class="null-value">Null</p>
              </ng-template>
            </td>
          </tr>
          <tr>
            <th style="font-weight: normal;" scope="row">5</th>
            <td>City</td>
            <!-- <td>{{preAlertManifestIndicatorTable[0].originDetails.city}}</td> -->
            <td>
              <ng-container
                *ngIf="preAlertManifestIndicatorTable[0].originDetails.city !== null && preAlertManifestIndicatorTable[0].originDetails.city !== undefined; else nullOrUndefined">
                {{ preAlertManifestIndicatorTable[0].originDetails.city }}
              </ng-container>
              <ng-template #nullOrUndefined>
                <p class="null-value">Null</p>
              </ng-template>
            </td>
          </tr>
          <tr>
            <th style="font-weight: normal;" scope="row">6</th>
            <td>Country</td>
            <!-- <td>{{preAlertManifestIndicatorTable[0].originDetails.country}}</td> -->
            <td>
              <ng-container
                *ngIf="preAlertManifestIndicatorTable[0].originDetails.country !== null && preAlertManifestIndicatorTable[0].originDetails.country !== undefined; else nullOrUndefined">
                {{ preAlertManifestIndicatorTable[0].originDetails.country }}
              </ng-container>
              <ng-template #nullOrUndefined>
                <p class="null-value">Null</p>
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>

      <p class="componentTableHeader f400 mb-0">Destination Details</p>
      <table class="table">
        <thead class="table-style">
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Fields</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody class="table-style-body">
          <tr>
            <th style="font-weight: normal;" scope="row">1</th>
            <td>Name</td>
            <!-- <td>{{preAlertManifestIndicatorTable[0].destinationDetails.name}}</td> -->
            <td>
              <ng-container
                *ngIf="preAlertManifestIndicatorTable[0].destinationDetails.name !== null && preAlertManifestIndicatorTable[0].destinationDetails.name !== undefined; else nullOrUndefined">
                {{ preAlertManifestIndicatorTable[0].destinationDetails.name }}
              </ng-container>
              <ng-template #nullOrUndefined>
                <p class="null-value">Null</p>
              </ng-template>
            </td>
          </tr>
          <tr>
            <th style="font-weight: normal;" scope="row">2</th>
            <td>Phone</td>
            <!-- <td>{{preAlertManifestIndicatorTable[0].destinationDetails.phone}}</td> -->
            <td>
              <ng-container
                *ngIf="preAlertManifestIndicatorTable[0].destinationDetails.phone !== null && preAlertManifestIndicatorTable[0].destinationDetails.phone !== undefined; else nullOrUndefined">
                {{ preAlertManifestIndicatorTable[0].destinationDetails.phone }}
              </ng-container>
              <ng-template #nullOrUndefined>
                <p class="null-value">Null</p>
              </ng-template>
            </td>
          </tr>
          <tr>
            <th style="font-weight: normal;" scope="row">3</th>
            <td>Address Line 1</td>
            <!-- <td>{{preAlertManifestIndicatorTable[0].destinationDetails.addressLine1}}</td> -->
            <td>
              <ng-container
                *ngIf="preAlertManifestIndicatorTable[0].destinationDetails.addressLine1 !== null && preAlertManifestIndicatorTable[0].destinationDetails.addressLine1 !== undefined; else nullOrUndefined">
                {{ preAlertManifestIndicatorTable[0].destinationDetails.addressLine1 }}
              </ng-container>
              <ng-template #nullOrUndefined>
                <p class="null-value">Null</p>
              </ng-template>
            </td>
          </tr>
          <tr>
            <th style="font-weight: normal;" scope="row">4</th>
            <td>Address Line 2</td>
            <!-- <td>{{preAlertManifestIndicatorTable[0].destinationDetails.addressLine2}}</td> -->
            <td>
              <ng-container
                *ngIf="preAlertManifestIndicatorTable[0].destinationDetails.addressLine2 !== null && preAlertManifestIndicatorTable[0].destinationDetails.addressLine2 !== undefined; else nullOrUndefined">
                {{ preAlertManifestIndicatorTable[0].destinationDetails.addressLine2 }}
              </ng-container>
              <ng-template #nullOrUndefined>
                <p class="null-value">Null</p>
              </ng-template>
            </td>
          </tr>
          <tr>
            <th style="font-weight: normal;" scope="row">5</th>
            <td>City</td>
            <!-- <td>{{preAlertManifestIndicatorTable[0].destinationDetails.city}}</td> -->
            <td>
              <ng-container
                *ngIf="preAlertManifestIndicatorTable[0].destinationDetails.city !== null && preAlertManifestIndicatorTable[0].destinationDetails.city !== undefined; else nullOrUndefined">
                {{ preAlertManifestIndicatorTable[0].destinationDetails.city }}
              </ng-container>
              <ng-template #nullOrUndefined>
                <p class="null-value">Null</p>
              </ng-template>
            </td>
          </tr>
          <tr>
            <th style="font-weight: normal;" scope="row">6</th>
            <td>Country</td>
            <!-- <td>{{preAlertManifestIndicatorTable[0].destinationDetails.country}}</td> -->
            <td>
              <ng-container
                *ngIf="preAlertManifestIndicatorTable[0].destinationDetails.country !== null && preAlertManifestIndicatorTable[0].destinationDetails.country !== undefined; else nullOrUndefined">
                {{ preAlertManifestIndicatorTable[0].destinationDetails.country }}
              </ng-container>
              <ng-template #nullOrUndefined>
                <p class="null-value">Null</p>
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>

      <p class="componentTableHeader f400 mb-0">Piece Details</p>
      <table class="table">
        <thead class="table-style">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Fields</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody class="table-style-body">
          <tr *ngFor="let piece of preAlertManifestIndicatorTable[0].pieceDetails; let i = index">
            <th style="font-weight: normal;" scope="row">{{i + 1}}</th>
            <td>Partner Hawb</td>
            <td>
              <ng-container
                *ngIf="piece.partnerHouseAirwayBill !== null && piece.partnerHouseAirwayBill !== undefined; else nullOrUndefined">
                {{ piece.partnerHouseAirwayBill }}
              </ng-container>
              <ng-template #nullOrUndefined>
                <p class="null-value">Null</p>
              </ng-template>
            </td>
          </tr>
          <tr *ngFor="let piece of preAlertManifestIndicatorTable[0].pieceDetails; let i = index">
            <th style="font-weight: normal;" scope="row">{{i + 1}}</th>
            <td>Description</td>
            <td>
              <ng-container *ngIf="piece.description !== null && piece.description !== undefined; else nullOrUndefined">
                {{ piece.description }}
              </ng-container>
              <ng-template #nullOrUndefined>
                <p class="null-value">Null</p>
              </ng-template>
            </td>
          </tr>
          <tr *ngFor="let piece of preAlertManifestIndicatorTable[0].pieceDetails; let i = index">
            <th style="font-weight: normal;" scope="row">{{i + 1}}</th>
            <td>Declared Value</td>
            <td>
              <ng-container
                *ngIf="piece.declaredValue !== null && piece.declaredValue !== undefined; else nullOrUndefined">
                {{ piece.declaredValue }}
              </ng-container>
              <ng-template #nullOrUndefined>
                <p class="null-value">Null</p>
              </ng-template>
            </td>
          </tr>
          <tr *ngFor="let piece of preAlertManifestIndicatorTable[0].pieceDetails; let i = index">
            <th style="font-weight: normal;" scope="row">{{i + 1}}</th>
            <td>Weight</td>
            <td>
              <ng-container *ngIf="piece.weight !== null && piece.weight !== undefined; else nullOrUndefined">
                {{ piece.weight }}
              </ng-container>
              <ng-template #nullOrUndefined>
                <p class="null-value">Null</p>
              </ng-template>
            </td>
          </tr>
          <tr *ngFor="let piece of preAlertManifestIndicatorTable[0].pieceDetails; let i = index">
            <th style="font-weight: normal;" scope="row">{{i + 1}}</th>
            <td>HS Code</td>
            <td>
              <ng-container *ngIf="piece.hsCode !== null && piece.hsCode !== undefined; else nullOrUndefined">
                {{ piece.hsCode }}
              </ng-container>
              <ng-template #nullOrUndefined>
                <p class="null-value">Null</p>
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex float-right py-2" style="position: absolute; right: 3.5%; bottom: 7%;">
        <button class="buttom1 textBlack mx-1" routerLink="/main/airport/preAlertManifest/">Cancel</button>
      </div>
    </div>
  </div>
</div>