.deleteBody{font-family: Nunito;font-size: 14px;font-weight: 400;line-height: 20.8px;text-align: center;color: rgba(255, 255, 255, 0.8); padding-bottom: 1rem;}
.deleteHeader{font-family: Nunito;font-size: 22px;font-weight: 700;line-height: 31.2px;text-align: left; padding-bottom: 1rem;}
.cancelButton{
    padding: 7px 25px 7px 25px;
    gap: 10px;
    border-radius: 6px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background-color: var(--white);
    color: var(--black);
    }
.saveButton{
    padding: 7px 35px 7px 35px;
    gap: 10px;
    border-radius: 6px;
    opacity: 0px;  
    background-color: var(--overcOrange);
    color: var(--black);
    }

    ::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface{border-radius: 12px !important;}

    .deleteDialog{padding: 2rem 1rem;}
  .scrollNew{height: calc(100vh - 20rem); overflow-y: scroll;}


  .circle {
    width: 44px;
    height: 44px;
    flex-grow: 0;
    margin: 0 6px 12px;
    border-radius: 100%;
    padding: 12px 17px 11px;
    background-color: var(--white);
  }
  
  .borderCircle {
    border: solid 1.5px var(--black);
  }
  
  .marginFieldNew {
    margin-bottom: 1.5rem;
    font-size: 14px;
    line-height: 30px;
  }
  
  .img-icon {
    gap: 2rem;
  }

  ::ng-deep .customClass { border-radius: 12px !important; box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important}

.custom-height{height: calc(100vh - 19.3rem) !important; overflow-y: scroll !important;}
.contentBox {
    flex-grow: 0;
    margin: 10px 10px 10px 0px;  
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 1rem 2rem 0px 2rem;
    border-radius: 16px;
    border: solid 1px var(--black);
    background-color: var(--white);
    color: var(--black);
    transition: background-color 0.3s ease;
  }
  .contentBox:hover{
    background-color: var(--black);
    color: var(--white);
  }
  .lineBorder {width: 8px;flex-grow: 0;margin: 10px 7px 10px 0;border-radius: 20px;background-color: var(--overcOrange);}
.chip{padding: 3px 1rem 3px 0px; border-radius: 6px; text-align: center;}

  .headerText {
    flex-grow: 1;
    font-family: Nunito;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    padding-bottom: 3px;
  }
  .valueText{
    flex-grow: 0;
    font-family: Nunito;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
  }
  .spacingBottom{padding-bottom: 0.8rem;}

  .hoverButton{border: 1px solid var(--black) !important;color: var(--black);}
  .hoverButton:hover{background-color: var(--overcOrange); border: none !important; color: var(--white);}

  .pointer-cursor {
    cursor: pointer;
  }

  .componentTableHeader {
    font-size: 18px; font-weight: 600;
    padding-bottom: 20px;
  }

  .null-value {
    color: #fb4 !important;
    font-weight: bolder !important;
  }
  
  
  