<div class="componentBody">
    <div class="d-flex justify-content-between align-items-center">
        <p class="componentHeader f600 mb-0">Consignment </p>
        <div class="d-flex justify-content-between align-items-center">
            <input type="file" #fileInput style="display:none" (change)="onFileSelected($event)" />
            <img type="button" (click)="fileInput.click()" src="./assets/common/upload.png" alt="" srcset="" style="margin: 0 17px; height: 1.5rem;">
            <img type="button" (click)="openCrud('Edit')" src="./assets/common/edit.png" alt="" srcset="" style="margin: 0 17px; height: 1.5rem;">
            <img type="button" (click)="downloadExcel()" src="./assets/common/download.png" alt="" srcset="" style="margin: 0 17px; height: 1.5rem;">
            <img type="button" (click)="deleteDialog()" src="./assets/common/deletetool.png" alt="" srcset="" style="margin: 0 17px; height: 1.5rem;">
            <img type="button" (click)="customTable()" src="./assets/common/settings.png" alt="" srcset="" style="margin-left: 19px; margin-right: 28px; height: 1.5rem;">
            <button (click)="openCrud('New')" type="button" class="btn ml-2 addNewbuttom bgBlack text-white"><i
                    class="bi bi-plus-square pr-2"></i> Add New</button>
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center my-2">
        <p-iconField iconPosition="right" class="mr-5">
            <p-inputIcon type="button" (click)="company.toggle($event)" styleClass="pi pi-filter" />
            <input type="text" id="toolInput1" pInputText placeholder="Advance filter"
                (input)="consignmentTag.filterGlobal($any($event.target).value, 'contains')" />
        </p-iconField>

        <p-overlayPanel [style]="{ width: '80vw', top: '219.5px'}" positionLeft="400"  class="mt-5 search" #company >
            <form [formGroup]="searhform" style="padding: 2rem;">
                <div class="row">
                      <div class="col-3 mb-3 borderRadius12">
                        <p class="formControlLabel f600 textBlack mb-0">HAWB</p>
                        <p-dropdown placeholder="Select" filter="true" [options]="houseAirwayBillDropdown" formControlName="houseAirwayBill" appendTo="body"
                          [style]="{'width': '100%'}" [panelStyle]="{'width':'100%'}" />
                      </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="buttom1 textBlack mx-1" (click)="closeOverLay()" >Cancel</button>
                    <button class="buttom1 bgBlack text-white mx-1" (click)="search()">Apply</button>
                </div>
            </form>
        </p-overlayPanel>
    </div>

    <div class="tableProperties">
        <p-table #consignmentTag [columns]="cols" [value]="consignmentTable" class="custom-table" [scrollable]="true"
            selectionMode="single" scrollHeight="calc(100vh - 19.8rem)" [paginator]="true" [rows]="100"
            [showCurrentPageReport]="true" sortField="createdOn" [sortOrder]="-1" [tableStyle]="{'width': '130rem'}"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" styleClass="p-datatable-sm">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 5rem;">
                        <p-tableHeaderCheckbox class="pl-3" [disabled]="true"></p-tableHeaderCheckbox>
                    </th>
                    <th style="width: 5rem;">
                       Label
                    </th>
                    <th *ngFor="let col of columns"  [style]="col.style">
                        {{ col.header }}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [class.selectedRow]="selectedConsignment[0] === rowData">
                    <td style="width: 5rem; justify-content: center;">
                        <p-checkbox (onChange)="onChange()" [(ngModel)]="selectedConsignment" class="pl-3"
                            [value]="rowData"></p-checkbox>
                    </td>
                    <td style="width: 5rem; justify-content: center;">
                        <img type="button" (click)="downloadLabel(rowData)" src="./assets/common/document.png" alt="" srcset=""
                        style="margin: 0 5px; height: 1.3rem;">                  </td>
                    <td *ngFor="let col of columns" [style]="col.style">
                        <ng-container *ngIf="col.format !== 'date'; else dateTemplate">
                            {{ rowData[col.field] }}
                          </ng-container>
                          <ng-template #dateTemplate>
                            {{ rowData.createdOn | date: 'dd-MM-yyyy HH:mm' }}
                          </ng-template>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td [attr.colspan]="4">
                        <p class="my-2 w-100 pl-3">No records found</p>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>


