<div class="dialog">
  <div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle
    class="d-flex justify-content-between align-items-center bgBlack text-white p-2">
    <h2 class="my-auto headertext">Piece</h2>
    <i mat-dialog-close class="bi bi-x-lg px-3"></i>
  </div>
  <div class="d-flex my-2 mr-2 justify-content-end align-items-center">
    <button (click)="addItem()" type="button" class="btn ml-2 addNewbuttom bgOrange text-white"><i
        class="bi bi-plus-square pr-2"></i> Add New</button>
  </div>
    <form [formGroup]="itemForm" class="mt-1 mx-3">
      <p-table [scrollable]="true" scrollHeight="calc(100vh - 24.8rem)"
        [value]="itemDetails.controls" >
        <ng-template pTemplate="header">
          <tr>
            <th >Description</th>
            <th >Product Code</th>
            <th style="width: 5rem; justify-content: center;">Dimension</th>
            <th >HS Code</th>
            <th >Declared Value</th>
            <th >COD Amount</th>
            <th >Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-i="rowIndex"  let-rowData>
          <tr [formGroup]="item">
            <td><input class="inputborderLess pl-3" placeholder="Enter" formControlName="description"></td>
            <td ><input class="inputborderLess pl-3" placeholder="Enter" formControlName="itemCode"></td>
            <td style="width: 5rem; text-align: center;">
              <i style="font-size: 14px;" class='bi-chevron-up' (click)="op.toggle($event)"></i>
              <p-overlayPanel #op [style]="{ width: '42rem' }">
                  <div class="row">
                      <div class="col-4 mb-2" id="length">
                          <p class="formControlLabel f600 textBlack mb-0">Length</p>
                          <input maxlength="50" pKeyFilter="num" (change)="calculateVolume(rowData)" formControlName="length" class=" w-100" pInputText
                              placeholder="Enter" />
                      </div>
                      <div class="col-4 mb-2" id="width">
                          <p class="formControlLabel f600 textBlack mb-0">Width</p>
                          <input maxlength="50" pKeyFilter="num" (change)="calculateVolume(rowData)" formControlName="width" class=" w-100" pInputText
                              placeholder="Enter" />
                      </div>
                      <div class="col-4 mb-2" id="height">
                          <p class="formControlLabel f600 textBlack mb-0">Height</p>
                          <input maxlength="50 " pKeyFilter="num" (change)="calculateVolume(rowData)" formControlName="height" class=" w-100" pInputText
                              placeholder="Enter" />
                      </div>
                      <div class="col-4 mb-2" id="dimensionUnit">
                          <p class="formControlLabel f600 textBlack mb-0">Dimension Unit</p>
                          <input maxlength="50" formControlName="dimensionUnit" class=" w-100"
                              pInputText placeholder="Enter" />
                      </div>
                      <div class="col-4 mb-2" id="volume">
                          <p class="formControlLabel f600 textBlack mb-0">Volume</p>
                          <input maxlength="50" formControlName="volume" class=" w-100" pInputText
                              placeholder="Enter" />
                      </div>
                      <div class="col-4 mb-2" id="volumeUnit">
                          <p class="formControlLabel f600 textBlack mb-0">Volume Unit</p>
                          <input maxlength="50" formControlName="volumeUnit" class=" w-100" pInputText
                              placeholder="Enter" />
                      </div>
                      <div class="col-4 mb-2" id="weight">
                          <p class="formControlLabel f600 textBlack mb-0">Weight</p>
                          <input maxlength="50" formControlName="weight" class=" w-100" pInputText
                              placeholder="Enter" />
                      </div>
                      <div class="col-4 mb-2" id="weightUnit">
                          <p class="formControlLabel f600 textBlack mb-0">Weight Unit</p>
                          <input maxlength="50" formControlName="weightUnit" class=" w-100"
                              pInputText placeholder="Enter" />
                      </div>
                  </div>
              </p-overlayPanel>
          </td>
            <td><input class="inputborderLess pl-3" placeholder="Enter" formControlName="hsCode"></td>
            <td><input class="inputborderLess pl-3" placeholder="Enter" formControlName="declaredValue"></td>
            <td><input class="inputborderLess pl-3" placeholder="Enter" formControlName="codAmount"></td>
            <td class="d-flex justify-content-center">
              <img type="button" (click)="removeItem(i)" src="./assets/common/deletetool.png" alt="" srcset=""
                style="height: 1.5rem;">
                <input type="file" #fileInput multiple style="display:none" (change)="selectFiles($event)" />   
                <i type="button" class="bi bi-card-image textBlack pl-3" style="font-size: 1.2rem;" (click)="fileInput.click()"></i> 

            </td>
          </tr>
        </ng-template>
      </p-table>
    </form>
  <div class="d-flex my-3 mr-2 justify-content-end">
    <button class="buttom1 textBlack mx-1" mat-dialog-close >Back</button>
    <button class="buttom1 bgBlack text-white mx-1" (click)="save()">Save</button>
</div>
</div>