<div class="componentBody">
    <div class="d-flex justify-content-between align-items-center">
        <p class="componentHeader f600 mb-0">Company - List</p>
        <div class="d-flex justify-content-between align-items-center">
            <img type="button" (click)="openCrud('Edit')" src="./assets/common/edit.png" alt="" srcset="" style="padding-left: 37px; height: 1.5rem;">
            <img type="button" (click)="downloadExcel()" src="./assets/common/download.png" alt="" srcset="" style="padding-left: 37px; height: 1.5rem;">
            <img type="button" (click)="deleteDialog()" src="./assets/common/deletetool.png" alt="" srcset="" style="padding-left: 37px; height: 1.5rem;">
            <img type="button" (click)="customTable()" src="./assets/common/settings.png" alt="" srcset="" style="padding-left: 37px; padding-right: 28px; height: 1.5rem;">
            <button (click)="openCrud('New')" type="button" class="btn ml-2 addNewbuttom bgBlack text-white"><i
                    class="bi bi-plus-square pr-2"></i> Add New</button>
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center my-2">
            <p-iconField iconPosition="left" class="mr-5">
                <p-inputIcon styleClass="pi pi-search" />
                <input type="text" id="toolInput1" style="width: 20rem !important;" pInputText placeholder="Search"
                    (input)="companyTag.filterGlobal($any($event.target).value, 'contains')" />
            </p-iconField>
        <div class="d-flex justify-content-end align-items-center">
            <p class="mb-0 d-flex f600 float-right w-25 pr-2">Filter By</p>
            <input type="text" id="toolInput" class="w-75" pInputText placeholder="Customer Name" />
            <p-calendar id="toolInput" class="w-75" placeholder="Filter by Date" [iconDisplay]="'input'" [showIcon]="true" />
            <p-dropdown  class=" d-flex float-right" optionLabel="name" placeholder="Filter by Product" />
        </div>
    </div>

    <div class="tableProperties">
        <p-table #companyTag [columns]="cols" [value]="companyTable" class="custom-table" [scrollable]="true"
            selectionMode="single" scrollHeight="calc(100vh - 19.8rem)" [paginator]="true" [rows]="100"
            [showCurrentPageReport]="true" sortField="createdOn" [sortOrder]="-1"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" styleClass="p-datatable-sm">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 5rem;">
                        <p-tableHeaderCheckbox class="pl-3" [disabled]="true"></p-tableHeaderCheckbox>
                    </th>
                    <th *ngFor="let col of columns">
                        {{ col.header }}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [class.selectedRow]="selectedCompany[0] === rowData">
                    <td style="width: 5rem; justify-content: center;">
                        <p-checkbox (onChange)="onChange()" [(ngModel)]="selectedCompany" class="pl-3"
                            [value]="rowData"></p-checkbox>
                    </td>
                    <td *ngFor="let col of columns">
                        <ng-container *ngIf="col.format !== 'date'; else dateTemplate">
                            {{ rowData[col.field] }}
                          </ng-container>
                          <ng-template #dateTemplate>
                            {{ rowData.createdOn | date: 'dd-MM-yyyy' }}
                          </ng-template>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td [attr.colspan]="4">
                        <p class="my-2 w-100 pl-3">No records found</p>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>


